h1 {
    content: center;
    text-align: center;
}

body {
    background-color: lightblue;
}

img {
    border-radius: 50%;
    width: 15pt;
    height: 30pt;
}

#contact {
    background-color: white;
}