h1 {
    content: center;
    text-align: center;
    font-size: 25px;
}

body {
    background-image: url('/static/img/scott-webb-OxHPDs4WV8Y-unsplash.jpg');
}

img {
    border-radius: 50%;
    width: 15pt;
    height: 50pt;
}

#contact {
    background-color:whitesmoke;
}
a{
    font-size: 15pt;
}
.col {
    text-align: center;
    border: cornflowerblue;
}


#intro {
    
    align-content: center;
    text-align: center;
    font-size: 50px;
}

nav {
    align-tracks: center;
    text-align: center;
}

#navigation {
    color:darkslateblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin-right: 100px;
    margin-left: 200px;
}