h1 {
    content: center;
    text-align: center;
}

body {
    background-image: url('/static/img/scott-webb-OxHPDs4WV8Y-unsplash.jpg');
}

img {
    border-radius: 50%;
    width: 15pt;
    height: 50pt;
}

#contact {
    background-color: white;
}
a{
    font-size: 5pt;
}