<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% block head %}{% endblock %}
  <!-- Bootstrap Code -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" 
  integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
 <!-- Bootstrap Js with Popper -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" 
  integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" 
  crossorigin="anonymous"></script> -->
  
  <!-- JQuery code -->
  <script src="https://code.jquery.com/jquery-3.6.0.js" 
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" 
  crossorigin="anonymous"></script>

  <!-- Include any page-specific Javascript using this block. -->
  <link href="/static/css/web_style.css" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-light bg-light" id="navbar">
    <div class="container-fluid">
      <div class="row">
  
        <div class="col-lg-2 col-md-4 col-sm-8">
          <a class="navbar-brand" href="/contact" id="navigation">
            Contact Me
          </a>
        </div>
  
        <div class="col-lg-2 col-md-4 col-sm-8">
          <a class="navbar-brand" href="/find-book" id="navigation">
          About Me
          </a>
        </div>
  
        <div class="col-lg-3 col-md-6 col-sm-9">
          <a class="navbar-brand" href="/tbr" id="navigation">
          Project Gallery
          </a>
        </div>
  
        <div class="col-lg-3 col-md-6 col-sm-9">
          <a class="navbar-brand" href="/genres" id="navigation">
          Resume
          </a> 
        </div>
  
        
  
      </div>  
    </div>
  </nav>

  <!-- Include the page's content with this block. -->
  {% block body %}

  {% endblock %}
  {% block js %}
  {% endblock %}
</body>
</html>