{% extends 'base.html' %}

{% block body %}
<div class="container" id="contact">
    <div class="row">
        <div class="col p-3">
            <h2>Contact Me!</h2>
            <h3>LinkedIn:</h3> <a href="https://www.linkedin.com/in/kelliegrieneisen-43/">
                https://www.linkedin.com/in/kelliegrieneisen-43/</a>
            <h3>Github:</h3><a href="https://github.com/KellieGrieneisen">
                https://github.com/KellieGrieneisen</a>
            <h3>Email: <br><small class="text-muted">kellie_grieneisen@aol.com</small></h3>
        </div>
    </div>
</div>

{% endblock %}