{% extends 'base.html' %}

{% block body %}
<div class="container-fluid">
    <div class="row">
      <div class="col-lg-2 col-md-4 col-sm-8">
        <div class="sidenav">
          <a href="/contact">Contact</a>
          <a href="/projects">Project Gallery</a>
          <a href="/resume">Resume</a>
        </div>
        </div>
        <div class="col-lg-8 col-md-4 col-sm-2">
        <div class="main">
            <h1>Kellie Grieneisen | Full Stack Software Engineer</h1>
        <img class="mx-auto d-block" style="width: 90pt; height:100pt" src="/static/img/IMG_5334.jpg">
        <div class="col p-3">
        <h3 id="intro">About Me..</h3>
    <p>
    Prior to studying a <i>Hackbright Academy</i>, Kellie was a student pursuing her <i>Bachelors in Computer Science</i>.<br>

    When the pandemic hit and school became online only, 
    mainstream academics became harder for students to showcase what they've learned through online testing.

    While Kellie still wanted to further her education, 
    her mainstream academics simply did not feel like the right choice to pursue at the current time. <br>
    This prompted Kellie to look into coding bootcamps, 
    as this was the field she was interested in pursuing at the completion of her Bachelors Degree.<br>

    Taking this path allowed her to not only strengthen her software development skills, 
    but also to grow in a new community and discover new paths and opportunities.<br>

    <b>Outside of coding Kellie enjoys reading and someday hopes to own a super decked out bookstore.</b>

    </p></div>
        </div>



{% endblock %}
<div class="container" id="contact">
    <div class="row">
        <div class="col p-3">
            <h2>Contact Me!</h2>
            <h3>LinkedIn:</h3> <a href="https://www.linkedin.com/in/kelliegrieneisen-43/">
                https://www.linkedin.com/in/kelliegrieneisen-43/</a>
            <h3>Github:</h3><a href="https://github.com/KellieGrieneisen">
                https://github.com/KellieGrieneisen</a>
            <h3>Email: <br><small class="text-muted">kellie_grieneisen@aol.com</small></h3>
            <h3>Resume: </h3>
            <embed src="/static/Kellie Grieneisen Resume (1).pdf" width="400px" height="500px" />

        </div>
        <div class="col p-3">
            <h2>About Me..</h2>
            <p>
            Prior to studying a <i>Hackbright Academy</i>, Kellie was a student pursuing her <i>Bachelors in Computer Science</i>.<br>

            When the pandemic hit and school became online only, 
            mainstream academics became harder for students to showcase what they've learned through online testing.

            While Kellie still wanted to further her education, 
            her mainstream academics simply did not feel like the right choice to pursue at the current time. <br>
            This prompted Kellie to look into coding bootcamps, 
            as this was the field she was interested in pursuing at the completion of her Bachelors Degree.<br>

            Taking this path allowed her to not only strengthen her software development skills, 
            but also to grow in a new community and discover new paths and opportunities.<br>

            <b>Outside of coding Kellie enjoys reading and someday hopes to own a super decked out bookstore.</b>
    
            </p>
            <h2>My first project...</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/V-3MQ4Hvt7M" title="YouTube video player" 
            frameborder="0" allow="accelerometer; 
            autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </div>
    </div>
</div>